<ion-header>
  <ion-toolbar >
    <ion-button slot="start"  class="voltar">      
      <fa-icon icon="angle-left" class="icone-voltar"></fa-icon>
    </ion-button>
    <ion-title class="titulo">ANIVERSARIANTES</ion-title>
   
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"  ></ion-menu-button>
    </ion-buttons>    
   </ion-toolbar>  
</ion-header>

<ion-content >
  
  <ion-tabs>     
    <ion-segment slot="top" class="barra">
      <ion-segment-button class="botao-menu">
        <ion-label class="titulo-botao-menu">ANIVERSÁRIOS</ion-label>
      </ion-segment-button>
      <ion-segment-button class="botao-menu">
        <ion-label class="titulo-botao-menu">UNIMED</ion-label>
      </ion-segment-button>
    </ion-segment>    
  </ion-tabs>

</ion-content>